body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
.bg-container {
  background-color: #191f36;
  height: auto;
  width: 100%;
}

.home-my-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .home-my-details-container {
    display: none;
  }
}

.my-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  animation: floatImage 4s ease-in-out infinite;
  margin-top: 60px;
  border: 0.3rem solid greenyellow;
}

@media screen and (min-width: 768px) {
  .my-image {
    width: 350px;
    height: 350px;
    border: 0.4rem solid greenyellow;
  }
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2.4rem);
  }

  100% {
    transform: translateY(0);
  }
}

.home-heading {
  font-size: 27px;
  font-weight: 600;
  color: #ffffff;
  padding-top: 10px;
  font-family: 'Nunito', sans-serif;
}

.home-heading1 {
  line-height: 1.3;
  font-size: 28px;
  color: #ffffff;
  font-weight: 650;
  font-family: 'Nunito', sans-serif;
  padding-bottom: 5px;
  letter-spacing: 2px;
  text-align: center;
  scroll-behavior: smooth;
}

.span-heading {
  color: #59b2f4;
  font-weight: 650;
  font-family: 'Nunito', sans-serif;
  padding-bottom: 5px;
  letter-spacing: 2px;
  padding-left: 10px;
  line-height: 1.3;
  scroll-behavior: smooth;
}

.home-paragraph {
  color: #ffffff;
  line-height: 1.3;
  letter-spacing: 2px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding-top: 8px;
}

.link-social-media-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background: transparent;
  border: 0.1rem solid #59b2f4;
  border-radius: 50%;
  font-size: 2rem;
  color: #59b2f4;
  margin: 1rem 1.5rem 2rem 0;
  transition: 0.5s ease;
}

@media screen and (min-width: 768px) {
  .link-social-media-icon {
    width: 3.2rem;
    height: 3.2rem;
    border: 0.2rem solid #59b2f4;
  }
}

.react-icon {
  width: 17px;
}

@media screen and (min-width: 768px) {
  .react-icon {
    width: 19px;
  }
}
.react-icon:hover {
  color: black;
}

.link-social-media-icon:hover {
  background: #59b2f4;
  color: #262840;
  box-shadow: 0 0 1rem var(--main-color);
}

.download-button {
  display: inline-block;
  padding: 1rem 2.8rem;
  background-color: #59b2f4;
  border-radius: 4rem;
  box-shadow: 0 0 1rem #59b2f4;
  font-size: 15px;
  color: #191f36;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
  text-decoration: none;
  margin-bottom: 30px;
  width: 270px;
}

@media screen and (min-width: 768px) {
  .download-button {
    width: 350px;
    font-size: 22px;
  }
}

.download-button:hover {
  box-shadow: none;
  background-color: transparent;
  border: 2px solid #59b2f4;
  color: #ffffff;
}

.desktop-view-home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 80px;
  padding-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .desktop-view-home {
    display: none;
  }
}

.home-heading-desktop {
  font-size: 36px;
  font-weight: 600;
  color: #ffffff;
  padding-top: 35px;
  font-family: 'Nunito', sans-serif;
}

.home-heading1-desktop {
  line-height: 1.3;
  font-size: 40px;
  color: #ffffff;
  font-weight: 650;
  font-family: 'Nunito', sans-serif;
  padding-bottom: 5px;
  letter-spacing: 2px;
  scroll-behavior: smooth;
  padding-top: 5px;
}

.span-heading-desktop {
  color: #59b2f4;
  font-weight: 650;
  font-family: 'Nunito', sans-serif;
  padding-bottom: 5px;
  letter-spacing: 2px;
  padding-left: 10px;
  line-height: 1.3;
  scroll-behavior: smooth;
}

.home-paragraph-desktop {
  color: #ffffff;
  line-height: 1.3;
  letter-spacing: 2px;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding-top: 10px;
}
